.header-top {
  background-color: var(--main-text);
  padding-top: 18px;
  padding-bottom: 22px;
}

.list-info {
  li {
    font-family: var(--font-family);
    font-size: 13px;
    color: #fff;

    &:not(:last-child) {
      margin-right: 20px;
      padding-right: 20px;
    }

    &:not(:last-child) {
      border-right: 1px solid rgba(128, 118, 132, 0.6);
    }
  }
}

.list-social {
  li:not(:last-child) {
    margin-right: 20px;
  }
}

.profile {
  a {
    span {
      font-size: 12px;
      color: var(--white);
      margin-left: 3px;
    }
  }
}
