<section>
  <div class="container">
    <div class="row position-relative">
      <div class="news-box col-12 col-lg-6">
        <div class="info-container">
          <h2>Новини</h2>
          <svg
            width="40"
            height="40"
            viewBox="0 0 40 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="d-none d-md-block"
          >
            <path
              d="M33.3333 20L34.0405 19.2929L34.7476 20L34.0405 20.7071L33.3333 20ZM8.33335 21C7.78106 21 7.33335 20.5523 7.33335 20C7.33335 19.4477 7.78106 19 8.33335 19L8.33335 21ZM24.0405 9.29289L34.0405 19.2929L32.6262 20.7071L22.6262 10.7071L24.0405 9.29289ZM34.0405 20.7071L24.0405 30.7071L22.6262 29.2929L32.6262 19.2929L34.0405 20.7071ZM33.3333 21L8.33335 21L8.33335 19L33.3333 19L33.3333 21Z"
              fill="#AFCA0B"
            />
          </svg>

          <a href="#" class="news-btn">Дивитися всі новини</a>
        </div>
        <div class="info-desc">
          <div class="info-desc__box">
            2024.01.11
            <a href="#!">Акція</a>
          </div>
          <h3>Інфотури до Болгарії зі Львова та Києва на 2024</h3>
          <div class="info-box__text">
            <h4>
              Шановні колеги, відкриваємо набір на рекламні тури до Болгарії:
            </h4>
            <h4>1. Виїзд зі Львова через Чернівці:</h4>
            <ul>
              <li>
                <h4>Дати: 24.05 - 31.05;</h4>
              </li>
            </ul>
          </div>

          <div>
            <a class="info-vector-link" href="#!"
              >Читати більше
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16.6667 10L17.3738 9.29289L18.0809 10L17.3738 10.7071L16.6667 10ZM4.16666 11C3.61437 11 3.16666 10.5523 3.16666 10C3.16666 9.44772 3.61437 9 4.16666 9V11ZM12.3738 4.29289L17.3738 9.29289L15.9595 10.7071L10.9595 5.70711L12.3738 4.29289ZM17.3738 10.7071L12.3738 15.7071L10.9595 14.2929L15.9595 9.29289L17.3738 10.7071ZM16.6667 11H4.16666V9H16.6667V11Z"
                />
              </svg>
            </a>
          </div>
        </div>

        <div class="info-desc">
          <div class="info-desc__box">2023.07.24</div>
          <h3>Нотаріальне доручення для дітей до 18 років</h3>
          <div class="info-box__text">
            <h4>Колеги, звертаємо вашу увагу:</h4>
            <h4>
              з 25.07 діти до 18 років повинні мати нотаріальний дозвіл
              на супроводжуючого при подорожі без батьків. Додатково пов...
            </h4>
          </div>

          <div>
            <a class="info-vector-link" href="#!"
              >Читати більше
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16.6667 10L17.3738 9.29289L18.0809 10L17.3738 10.7071L16.6667 10ZM4.16666 11C3.61437 11 3.16666 10.5523 3.16666 10C3.16666 9.44772 3.61437 9 4.16666 9V11ZM12.3738 4.29289L17.3738 9.29289L15.9595 10.7071L10.9595 5.70711L12.3738 4.29289ZM17.3738 10.7071L12.3738 15.7071L10.9595 14.2929L15.9595 9.29289L17.3738 10.7071ZM16.6667 11H4.16666V9H16.6667V11Z"
                />
              </svg>
            </a>
          </div>
        </div>

        <div class="info-desc">
          <div class="info-desc__box">
            2023.07.19
            <a class="info-desc__link" href="#!">Важливо</a>
          </div>
          <h3>Виїзд зі Львова 28.07 підвищена комісія</h3>
          <div class="info-box__text">
            <h4>
              При бронюванні пакетного туру виїздом зі Львова 28.07 – додаткова
              комісія +2%.
            </h4>
            <h4>Ціни в онлайні.</h4>
            <h4>Успішних продажів.</h4>
          </div>
          <div>
            <a class="info-vector-link" href="#!"
              >Читати більше
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16.6667 10L17.3738 9.29289L18.0809 10L17.3738 10.7071L16.6667 10ZM4.16666 11C3.61437 11 3.16666 10.5523 3.16666 10C3.16666 9.44772 3.61437 9 4.16666 9V11ZM12.3738 4.29289L17.3738 9.29289L15.9595 10.7071L10.9595 5.70711L12.3738 4.29289ZM17.3738 10.7071L12.3738 15.7071L10.9595 14.2929L15.9595 9.29289L17.3738 10.7071ZM16.6667 11H4.16666V9H16.6667V11Z"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>

      <div class="news-box col-12 col-lg-6">
        <div class="info-container">
          <h2>Тури</h2>

          <img src="./images/info/info-icon.svg" alt="icon" />
          <a href="#" class="news-btn">Дивитися всі тури</a>
        </div>

        <div class="card-wrapper">
          <div class="card">
            <div class="row g-0">
              <div class="col-sm-4">
                <img
                  src="./images/info/info1.webp"
                  alt="photo"
                  class="d-block w-100 rounded"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h2>Інфотур “Болгарія літо-2024” - зі Львова</h2>
                  <div>
                    <button>від 4445.00 грн</button>
                    <button>з 25.05.2024</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="./images/info/info2.webp"
                  alt="photo"
                  class="d-block w-100 rounded"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h2>Інфотур “Болгарія літо-2024” - з Києва через Одессу</h2>
                  <div>
                    <button>від 4445.00 грн</button>
                    <button>з 25.05.2024</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="./images/info/info3.webp"
                  class="d-block w-100 rounded"
                  alt=""
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h2>Болгарський експрес</h2>
                  <div>
                    <button>від 4445.00 грн</button>
                    <button>з 25.05.2024</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="info-logo__bus d-none d-lg-block">
          <img src="./images/info/Bus.webp" alt="logo" />
        </div>

        <div class="info-logo d-none d-lg-block">
          <img src="./images/info/logo-icon.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
