<section class="cards">
  <div class="container">
    <div class="row d-flex justify-content-center mb-5">
      <h2 class="col-12">Топ продажів тижня</h2>
    </div>
    <div class="row gy-4">
      <a href="#" class="col-sm-6 col-lg-4">
        <div class="card-box">
          <div class="card-box-price d-none d-md-block">
            2035.00 грн
            <p>2170.00 грн</p>
          </div>
          <span class="d-sm-block d-md-none d-xl-block">Сімейний</span>
          <img src="./images/top/top1.webp" class="d-block w-100" />
          <div class="card-box-details">
            <h3>Dit evrika beach club hotel 4*</h3>
            <h4>Болгарія, Сонячний берег</h4>
          </div>
        </div>
      </a>

      <a href="#" class="col-sm-6 d-lg-none">
        <div class="card-box">
          <div class="card-box-price d-none d-md-block">
            2035.00 грн
            <p>2170.00 грн</p>
          </div>
          <span class="d-sm-block d-md-none d-xl-block">Сімейний</span>
          <img src="./images/top/top1.webp" class="d-block w-100" />
          <div class="card-box-details">
            <h3>Dit evrika beach club hotel 4*</h3>
            <h4>Болгарія, Сонячний берег</h4>
          </div>
        </div>
      </a>

      <a href="#" class="col-sm-6 d-lg-none">
        <div class="card-box">
          <div class="card-box-price d-none d-md-block">
            2035.00 грн
            <p>2170.00 грн</p>
          </div>
          <span class="d-sm-block d-md-none d-xl-block">Сімейний</span>
          <img src="./images/top/top1.webp" class="d-block w-100" />
          <div class="card-box-details">
            <h3>Dit evrika beach club hotel 4*</h3>
            <h4>Болгарія, Сонячний берег</h4>
          </div>
        </div>
      </a>

      <div
        class="col-sm-6 col-lg-4 d-none d-lg-flex flex-column justify-content-between"
      >
        <div class="card-box">
          <a href="#">
            <div class="card-box-price d-none d-md-block">
              2035.00 грн
              <p>2170.00 грн</p>
            </div>
            <img src="./images/top/top2.webp" class="d-block w-100" />
            <div class="card-box-details">
              <h3>Dit evrika beach club hotel 4*</h3>
              <h4>Болгарія, Сонячний берег</h4>
            </div>
          </a>
        </div>
        <div class="card-box">
          <a href="#">
            <div class="card-box-price d-none d-md-block">
              2035.00 грн
              <p>2170.00 грн</p>
            </div>
            <span class="d-none d-xl-block">Рекомендовано</span>
            <img src="./images/top/top3.webp" class="d-block w-100" />
            <div class="card-box-details">
              <h3>Dit evrika beach club hotel 4*</h3>
              <h4>Болгарія, Сонячний берег</h4>
            </div>
          </a>
        </div>
      </div>
      <a href="#" class="col-sm-6 col-lg-4">
        <div class="card-box">
          <div class="card-box-price d-none d-md-block">
            2035.00 грн
            <p>2170.00 грн</p>
          </div>
          <span class="d-sm-block d-md-none d-xl-block">Молодіжний</span>
          <img src="./images/top/top4.webp" class="d-block w-100" />
          <div class="card-box-details">
            <h3>Dit evrika beach club hotel 4*</h3>
            <h4>Болгарія, Сонячний берег</h4>
          </div>
        </div>
      </a>
    </div>
    <div class="row top-button">
      <a class="" href="#!">
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M11.6667 12.5L8.33334 15.8333L11.6667 19.1667"
            stroke="#532F60"
            stroke-width="2"
          />
          <path
            d="M4.94819 12.9167C4.30613 11.8046 4.04896 10.5117 4.21657 9.23859C4.38418 7.96546 4.96721 6.78322 5.87521 5.87521C6.78322 4.9672 7.96547 4.38418 9.2386 4.21657C10.5117 4.04896 11.8046 4.30612 12.9167 4.94818C14.0287 5.59024 14.8979 6.58131 15.3893 7.76768C15.8807 8.95405 15.9669 10.2694 15.6346 11.5098C15.3022 12.7501 14.5699 13.8462 13.5511 14.6279C12.5324 15.4096 11.2841 15.8333 10 15.8333"
            stroke="#532F60"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
        Більше пропозицій
      </a>
    </div>
  </div>
</section>
