<div class="container-fluid my-carousel d-none d-sm-block">
  <div id="carouseControls" class="carousel slide carousel-fade">
    <div class="carousel-inner">
      <!-- slide 1 -->
      <div class="carousel-item active" data-bs-interval="10000">
        <img
          src="./images/hero/hero1.webp"
          class="d-block w-100 h-100"
          alt=""
        />

        <div class="mask">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div>
              <img src="./images/hero/hero-small.webp" class="hero-small" />
            </div>

            <div class="carousel-title d-none d-md-block">
              <h5>Базові готелі в Греції на моментальному підтвердженні</h5>
            </div>

            <div class="mask-img-hotel d-none d-xl-block">
              <img
                src="./images/hero/hotel1.webp"
                alt="hotel"
                class="hotel1 d-block"
              />
              <img
                src="./images/hero/hotel2.webp"
                alt="hotel"
                class="hotel2 d-block"
              />
              <img
                src="./images/hero/hotel3.webp"
                alt="hotel"
                class="hotel3 d-block"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- slide 2 -->
      <div class="carousel-item" data-bs-interval="10000">
        <img src="./images/hero/hero2.webp" class="d-block w-100 h-100" />

        <div class="mask">
          <div
            class="d-flex justify-content-md-between align-items-center h-100"
          >
            <div class="mask-img">
              <img
                src="./images/hero/slide2-hotel1.webp"
                alt="hotel"
                class="d-block"
              />
              <img
                src="./images/hero/slide2-hotel2.webp"
                alt="hotel"
                class="d-block"
              />
              <img
                src="./images/hero/slide2-hotel3.webp"
                alt="hotel"
                class="d-block"
              />
            </div>

            <div class="carousel-title">
              <h5>
                Новинка сезону 2024. Елітний GRIFID NOA 5* в Золотих Пісках на
                першій береговій лінії
              </h5>
            </div>

            <div class="align-self-end d-none d-xl-block">
              <img src="./images/hero/slide2-elem-vector.webp" alt="" />
              <img
                src="./images/hero/slide2-elem.webp"
                alt=""
                class="mask-elem"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- slide 3 -->
      <div class="carousel-item" data-bs-interval="10000">
        <img
          src="./images/hero/hero3.webp"
          class="d-block w-100 h-100"
          alt=""
        />
        <div class="mask">
          <div
            class="d-flex flex-column justify-content-end justify-content-md-between h-100"
          >
            <div class="carousel-title">
              <h5>
                Новинка сезону 2024. Елітний GRIFID NOA 5* в Золотих Пісках на
                першій береговій лінії
              </h5>
            </div>
            <div class="mask-img d-md-flex w-100">
              <img
                src="./images/hero/slide3-hotel1.webp"
                alt="hotel"
                class="d-block d-none d-md-block"
              />
              <img
                src="./images/hero/slide3-hotel2.webp"
                alt="hotel"
                class="d-block mx-auto"
              />
              <img
                src="./images/hero/slide3-hotel3.webp"
                alt="hotel"
                class="d-block d-none d-md-block"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- slide 4 -->
      <div class="carousel-item" data-bs-interval="10000">
        <img
          src="./images/hero/hero4.webp"
          class="d-block w-100 h-100"
          alt=""
        />
        <div class="mask d-flex justify-content-between align-items-end">
          <div class="carousel-title">
            <h5>Ексклюзивно на українському ринку готель MPM Condor 4*</h5>
          </div>
          <div
            class="mask-img d-flex justify-content-between align-items-center w-100"
          >
            <div class="mask-img-img">
              <img src="./images/hero/slide4-img.webp" alt="" />
            </div>

            <img
              src="./images/hero/slide4-elem.webp"
              alt="hotel"
              class="mask-img-elem d-none d-xl-block"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouseControls"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouseControls"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouseControls"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
      <button
        type="button"
        data-bs-target="#carouseControls"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></button>
    </div>
  </div>
</div>
